<link rel="stylesheet" type="text/css" href="../styles/navBar.css">



<div class="barra0">
    <a href="../index.html"  target="_top" style="text-decoration: none; color: inherit;">
        <div class="logoSoham">
            <img src="../images/logoSoham.png" alt="">
            <h3 class="titleNav">soham</h3>
        </div>
    </a>


    <div class="barra1">

        <a href="../index.html"  target="_top" style="text-decoration: none; color: inherit;">
            <h4 class="seccion">Home</h4>
        </a>

        <a href="../bloques/sohamDetalles.html"  target="_top" style="text-decoration: none; color: inherit;">
            <h4 class="seccion">Soham</h4>
        </a  target="_top" style="text-decoration: none; color: inherit;">
         

        <a href="../bloques/clasesVirtuales.html"  target="_top" style="text-decoration: none; color: inherit;">
            <h4 class="seccion">Clases Virtuales</h4>
        </a>



        <a href="../bloques/quienesSomos.html"  target="_top" style="text-decoration: none; color: inherit;">
            <h4 class="seccion">Nosotros</h4>
        </a>

        <a href="../bloques/galeriaDeFotos.html"  target="_top" style="text-decoration: none; color: inherit;">
            <h4 class="seccion">Galería de fotos</h4>
        </a>

    
    </div>


</div>


