<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/navBar.css">
</head>
<body>
   
       

        <nav class="nav">
            <div class="logo">
                <img src="../images/logoSoham.png" alt="soham">
    
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Soham</a></li>
                <li><a href="#">Clases virtuales</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Galeria de fotos</a></li>

            </ul>

<!---->        <a onclick="openNav()" class="menu" href="#"><button>Menu</button></a>

<!---->        <div id="mobile-menu" class="overlay">
<!---->            <a onclick="closeNav()" href="" class="close">&times;</a>
<!---->            <div class="overlay-content">
<!---->                <a href="#">Services</a>
<!---->                <a href="#">Projects</a>
<!---->                <a href="#">About</a>
<!---->                <a href="#">Contact</a>
<!---->            </div>
<!---->        </div>
        </nav>

        <script type="text/javascript" src="../javascript/nav.js"></script>
</body>
</html>

