*{
    margin: 0;
    padding: 0;
    background-color: #EBBB8D;
}



.nav{
    background-color: #EBBB8D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    
    width: 100%; 
    }
    
    .main {
    position: relative; /* Cambiamos a posición relativa */
    }
    
    .nav .logo{
    cursor: pointer;
    margin-right: auto;
    }
    
    .nav .logo img{
    height: 30px;
    width: auto;
    }
    
    
    
    .nav .nav-links{
    list-style: none;
    font-family: "RocaOne";
    
    }
    
    
    
    .nav .nav-links li{
    display: inline-block;
    padding: 0 20px;    
    }
    
    
    
    .nav .nav-links a {
    font-size: 16;
    color: #eceff1; /* Color inicial del texto */
    text-decoration: none; /* Quitamos subrayado de los enlaces */
    transition: all 0.5s;
    }
    
    .nav .nav-links a:hover {
    color: #000; /* Color del texto al pasar el mouse (negro en este caso) */
    
    }
    
    
    
    /**/.menu {
    display:none;
    }
    
    .nav .btn button,
    /**/.nav .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    
    
    
    /**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
    }
    
    
    
    /*Nav Mobile*/
    
    .nav a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
    }
    
    .nav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #fad4afe1;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    font-family: "RocaOne";
    }
    
    .nav .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    }
    
    .nav .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #000000;
    }
    
    .nav .overlay a:hover, 
    .nav .overlay a:focus{
    color: #a97c0a;
    }
    
    .nav .overlay .close{
    top: 20px;
    right: 45px;
    font-size: 65px;
    }
    
    @media screen and (max-height:450px) {
    .nav .overlay a{
        font-size: 20px;
    }
    .nav .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    }


.main{
    display: flex;
    width: 100%;
    height: auto;
}

.contenido{
    display: flex;
}

.titulo {
    width: 30%;
    height: 650px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Añadido para casos en los que el contenido no sea texto */
}



.titulo h2{
  text-align: center;
  font-size: 60px;
  font-family: "Arapey";

}


.imagen {
    width: 40%;
    height: 650px;
    display: flex;
    flex-direction: column; /* Establece la dirección de flexión como columna */
    justify-content: flex-end; /* Alinea el contenido al principio del eje principal (arriba) */
    align-items: center; /* Centra horizontalmente el contenido */
}

.imagen .imagenB4 {
    width: 100%;
    height: auto;
}

.imagen .Interactive {
    width: 80%;
    height: auto;
}


.imagen .Interactive {
    display: block; /* Para asegurarse de que la imagen ocupe todo el ancho disponible */
    margin: 0 auto; /* Alinea la imagen horizontalmente en el centro */
    width: 80%; /* Ancho del 80% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}







.texto {
    width: 30%;
    height: 650px;
    display: flex;
    flex-direction: column; /* Establece la dirección de flexión como columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Añadido para casos en los que el contenido no sea texto */
}

.texto h2 {
    font-size: 40px;
    font-family: "Arapey";
}

.texto h3 {
    margin-top:15%;
    font-size: 45px;
    font-family: "Arapey";
}








@media screen and (min-width: 300px) and (max-width: 800px) {
 .contenido{
    display: block;
 }

 .titulo{
    width: 100%;
    height: auto;
 }

 .titulo h2{
    font-size: 40px;
 }

 .imagen{
    width: 100%;
    height: auto;
    margin-top: 10%;
 }
 

 .imagen .imagenB4{
    width: 120%;
 }

 .texto{
    width: 100%;
    height: auto;
 }

 .texto h2{
    font-size: 35px;
 }

 .texto h3{
    font-size: 30px;
    margin-bottom: 10%;
 }
}

@font-face {
    font-family: 'RocaOne';
    src: url('../fonts/Roca\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: "Arapey";
    src: url("../fonts/Arapey-Italic.ttf") format("truetype"); /* Ajusta la ruta y el formato según los archivos que hayas descargado */
    font-weight: normal;
    font-style: normal;
  }