html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido hacia arriba */
  align-items: center;
  height: 1000;
  background-color: #B58150;
}


.nav{
  background-color: #9b70457d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45px;
  
  width: 100%; 
  }
  
  .main {
  position: relative; /* Cambiamos a posición relativa */
  }
  
  .nav .logo{
  cursor: pointer;
  margin-right: auto;
  }
  
  .nav .logo img{
  height: 30px;
  width: auto;
  }
  
  
  
  .nav .nav-links{
  list-style: none;
  font-family: "RocaOne";
  
  }
  
  
  
  .nav .nav-links li{
  display: inline-block;
  padding: 0 20px;    
  }
  
  
  
  .nav .nav-links a {
  font-size: 16;
  color: #eceff1; /* Color inicial del texto */
  text-decoration: none; /* Quitamos subrayado de los enlaces */
  transition: all 0.5s;
  }
  
  .nav .nav-links a:hover {
  color: #000; /* Color del texto al pasar el mouse (negro en este caso) */
  
  }
  
  
  
  /**/.menu {
  display:none;
  }
  
  .nav .btn button,
  /**/.nav .menu button{
  margin-left: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 9px 25px;
  background: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  }
  
  
  
  /**/@media screen and (max-width: 800px){
  .nav-links, .btn {
      display: none;
  }
  .menu {
      display: inherit;
  }
  }
  
  
  
  /*Nav Mobile*/
  
  .nav a{
  text-decoration: none;  
  /*borramos el que teniamos en .header .nav-links a*/ 
  }
  
  .nav .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fad4afe1;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  font-family: "RocaOne";
  }
  
  .nav .overlay .overlay-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
  }
  
  .nav .overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #000000;
  }
  
  .nav .overlay a:hover, 
  .nav .overlay a:focus{
  color: #a97c0a;
  }
  
  .nav .overlay .close{
  top: 20px;
  right: 45px;
  font-size: 65px;
  }
  
  @media screen and (max-height:450px) {
  .nav .overlay a{
      font-size: 20px;
  }
  .nav .overlay .close{
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
  }




.contenidoPrincipal{
  display: block;
  width: 100%;
  height: auto;
}

.titulo{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}


.titulo .titulo-superior{
  font-size: 40px;
  font-family: 'RocaOne';

}

.Principiantes-Avanzados{
  display: flex;
  width: 100%;
  height: auto;
}

.Principiantes{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}
.Principiantes img {
  width: 50%; 
  transition: transform 0.3s ease;
}

.Principiantes img:hover {
  transform: scale(1.1);
}


.Avanzados{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}

.Avanzados img{
  width: 40%;
  transition: transform 0.3s ease;

}
.Avanzados img:hover {
  transform: scale(1.1); 
}




.ImagenesCentrales {
  display: flex;
  flex-direction: row; /* Para apilar los elementos verticalmente */
  justify-content: space-between; /* Distribuye uniformemente el espacio verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 100%;
  height: 500px; /* Puedes ajustar este valor según sea necesario */
}




.click{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}
.click img{
 max-width:450px;
  height: auto;
  transition: .5s;

}

.click img:hover{
  transform: scale(1.1);

}

.imagenFormacion{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}

.imagenFormacion img{
  width: 50%;
  margin-top: 20%;
  transition: .5s;

}


.imagenFormacion img:hover{
  transform: scale(1.1);

}


.imagenesInferiores{
  display: flex;
  flex-direction: row; /* Para apilar los elementos verticalmente */
  justify-content: space-between; /* Distribuye uniformemente el espacio verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 100%;
  height: 500px;
}



.estudios{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}
.estudios img{
 max-width:50%;
  height: auto;
  transition: .5s;
}

.estudios img:hover{
  transform: scale(1.1);

}


.pasos{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}

.pasos img{
  width: 60%;
  margin-top: 15%;
  transition: .5s;
}

.pasos img:hover{
  transform: scale(1.1);

}



.decoracion {
  display: flex;
  width: 50%;
  height: auto;
}

.decoracion img {
  width: 100%; /* Establece el ancho de la imagen al 100% del ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}







@media screen and (min-width: 300px) and (max-width: 800px) {
 

  .Principiantes-Avanzados{
    display: flex;
    width: 100%;
    height: auto;
  }
  
  .Principiantes{
    display:flex;
    width: 50%;
    height: auto;
    justify-content: center;
  }
  .Principiantes img {
    width: 70%; 
    transition: transform 0.3s ease;
  }
  
  .Principiantes img:hover {
    transform: scale(1.1);
  }
  
  
  .Avanzados{
    display:flex;
    width: 50%;
    height: auto;
    justify-content: center;
  }
  
  .Avanzados img{
    width: 60%;
    transition: transform 0.3s ease;
  
  }
  .Avanzados img:hover {
    transform: scale(1.1); 
  }
  




  
.ImagenesCentrales{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10%;
}



.click{
  display:flex;
  width: 100%;
  height: auto;
  justify-content: center;
}


.click img{
  width: 80%;
  height: auto;
}

.imagenFormacion{
  display:flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 10%;
}
.imagenFormacion img{
  display:flex;
  width: 60%;
  height: auto;
}





.imagenesInferiores{
  display: flex;
  width: 100%;
}



.estudios{
  display:flex;
  width: 50%;
  height: auto;
}
.estudios img{
 max-width:80%;
  height: auto;
  transition: .5s;
}

.estudios img:hover{
  transform: scale(1.1);

}


.pasos{
  display:flex;
  width: 50%;
  height: auto;
  justify-content: center;
}

.pasos img{
  width: 100%;
  transition: .5s;
  margin-bottom: 25%;
}

.pasos img:hover{
  transform: scale(1.1);

}


.decoracion {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.decoracion img {
  width: 100%; /* Establece el ancho de la imagen al 100% del ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}



  }










@font-face {
  font-family: 'RocaOne';
  src: url('../fonts/Roca\ Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
