body {
    margin: 0;
    overflow: hidden; /* Evita la barra de desplazamiento */


    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }
    
      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}






div {
    margin: 0;
}

.mainBloque5 {
    width: 100%;
    background-color: #fad4af;
    display: block;
    height: 100%;
}

.subMainBloque5 {
    display: block;
}

.titulo-content {
    display: flex;
    align-items: center;
    height: 60%;
    width: 100%;
    font-size: 200%;
    color: #2F1714;
    justify-content: space-between;



     @media (max-width: 1000px) {
        font-size: 130%;
      }
    
      @media (max-width: 770px) {
        font-size: 80%;
      }
    
      @media (max-width: 600px) {
        font-size: 80%;
      }

      
}
.imagenB5 .imagenBloque5{
    max-width: 600px;
    height: auto;
    margin-left: -13%;
    margin-bottom: -5%;
}

.titulo-texto {
    margin-right: 400px;
    width: 60%;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 100%;
    color: #FF9540;
    margin-top: -150px;
    margin-left: -20%;
    text-align: center;
    line-height: 1.4;
    font-family: 'RocaOne';

    @media (max-width: 1000px) {
        font-size: 120%;
        margin-left: -35%;
      }
    
      @media (max-width: 770px) {
        font-size: 80%;
        margin-left: -30%;
      }
    
}

.Info-Redes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10%;
    text-align: center;
    font-family: 'RocaOne';
    color: #2F1714;
    margin-top: -3%;
    font-size: 130%;
}

.Info-Whatsapp {
    text-align: right;
    margin-right: 10%;
    text-align: center;
    font-family: 'RocaOne';
    overflow: hidden;
}



.infoInstaDetalles {
    display: flex;


   
    @media (max-width: 1000px) {
          font-size: 80%;
          margin-left: 30%;
      }

}

.logoInsta {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.InfoProgramacion {
    display: flex; /* Utilizamos flexbox para organizar los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: flex-end;
    margin-top: -0.5%;

 
   
}

.InfoNumero {
    display: flex; /* También utilizamos flexbox para los elementos internos */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-right: 20px; /* Espacio entre los elementos */

  

.Datos {
    margin-right: 10px; /* Espacio entre el texto y la imagen */
    font-size: 100%;
    margin-top: 8%;
    font-family: 'RocaOne';
}

.logoW {
    width: 30px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Para mantener la proporción */
    margin-top: 4%;
    font-family: 'RocaOne';
}


.numero{
    margin-top: 7%;
    font-family: 'RocaOne';
    font-size: 110%;
    
}


@font-face {
    font-family: 'Arapey';
    src: url('../fonts/Arapey-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RocaOne';
    src: url('../fonts/Roca\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 1000px) {
   .InfoProgramacion, .InfoNumero{

   }
    
}
}


