*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAD4AF;
    width: 100%;
    height: auto;
}


.parte-superior{
    display: flex;
    width: 100%;
    height: 300px;
}

.div-imagen{
    width: 30%;
    height: 300px;
}


.imagenBloqueFooter{
    width: 130%;
    height: auto;
    margin-left: -80px;
   

}


.div-texto{
    display: flex;
    margin-top: 5%;
    font-size: 30px;
}



.titulo-texto{
    font-family: 'RocaOne';
    color: #FF9540;

}



.div-central{
    display: flex;
    width: 100%;
    height: 250px;
}



.div-instagram{
    width: 30%;
    height: auto;
}



.SeguinosEnInstagram{
    font-size: 30px;
    margin-left: 40px;
    font-family: 'RocaOne';
    color: #280B02;
}




.Instagram{
        display: flex;
        width: 100%;
}


.imgInstagram{
    width: 30%;
    height: auto;
 }
 
 
 .Usuario-Instagram{
color: #280B02;
margin-top: 10%;
font-size: 30px;
font-family: 'RocaOne';

 }




 
 .div-imagenCentral{
    display: flex;
 }





 .div-whatsapp{
    width: 37%;
    height: auto;
}

.whatsapp{
    display: flex;
    width: 70%;
    margin-left: 20%;
}


.ComunicateConNosotros{
    text-align: center;
    font-family: 'RocaOne';
    color: #280B02;

}

.logoWhatsapp{
    width: 20%;
    height: auto;
}


.NumeroWhatsapp{
    color: #280B02;
    font-size:30px;
    margin-top: 5%;
    font-family: 'RocaOne';

}




.programacionDiseño{
    margin-top: 50px;
    color: #280B02;
    font-family: 'RocaOne';


}

.infoProgramacion{
    display: flex;
    width: 100%;
    height: 100px;
}

.logoProgramacionWhatsapp {
    width: 30px;
    max-height: 2em; /* Puedes ajustar esto según tus necesidades */
    margin-top: 50px;
    
}

.NumeroJulian{
 margin-top: 50px;       
color: #280B02;
font-family: 'RocaOne';

}

@font-face {
   
     
    
    font-family: 'Arapey';
    src: url('../fonts/Arapey-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RocaOne';
    src: url('../fonts/Roca\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}