* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FAD4AF;
  overflow-y: hidden;
}


.main {
  display: block;
}

.top {
  display: flex;
}

.imagen-superior {
  width: 40%;
  height: auto;
}

.imagenSuperior {
  width: 100%;
}

.titulo-top {
  width: 60%;
  height: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-family: "RocaOne";
  color: #FF9540;
}

.titulo-top .titulo {
  font-size: 40px;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .top {
    display: block;
  }

  .imagen-superior {
    width: 100%;
    height: auto;
  }

  .titulo-top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo-top .titulo {
    font-size: 100%;
    text-align: center;
  }
}

.medio {
  display: flex;
}

.instagram,
.whatsapp {
  display: block;
  width: 30%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-family: "RocaOne";
  color: #280B02;
}

.datosInstagram,
.datosWhatsapp {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: .5s;
}
.datosInstagram:hover,
.datosWhatsapp:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
}

.logoIg,
.logowp {
  width: 15%;
}

.usuarioIg,
.usuariowp {
  font-size: 32px;
}

.imagenCentro {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenCentral {
  width: 500px;
  height: auto;
}

@media screen and (min-width: 300px) and (max-width: 799px) {
  .medio {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .instagram {
    width: 100%;
    height: auto;
    margin-top: 50px;
    font-size: 20px;
  }

  .datosInstagram {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: transform 0.3s ease;
  }

  .datosInstagram:hover {
    transform: scale(1.1);
  }

  .usuarioIg {
    font-size: 20px;
  }

  .imagenCentro {
    width: 100%;
    height: auto;
    margin-top: 60px;
  }

  .imagenCentral {
    width: 400px;
    height: auto;
  }

  .whatsapp {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .usuariowp {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
  .top {
    display: flex;
  }

  .titulo-top .titulo {
    font-size: 190%;
    text-align: center;
    justify-content: center;
  }

  .imagen-superior {
    width: 50%;
    height: auto;
  }

  .datosInstagram,
  .datosWhatsapp {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .usuarioIg,
  .usuariowp {
    font-size: 20px;
  }

  .medio {
    margin-top: 5%;
  }
}


@font-face {
  font-family: 'RocaOne';
  src: url('../fonts/Roca\ Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
