*{
    margin: 0;
    padding: 0;

}

body {
    background-image: url("/web-soham/images/galeriaDeFotosFondo.png");
    background-size: cover; /* La imagen se ajustará automáticamente al tamaño del cuerpo */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}




.nav{
    background-color: #9b70457d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    
    width: 100%; 
    }
    
    .main {
    position: relative; /* Cambiamos a posición relativa */
    }
    
    .nav .logo{
    cursor: pointer;
    margin-right: auto;
    }
    
    .nav .logo img{
    height: 30px;
    width: auto;
    }
    
    
    
    .nav .nav-links{
    list-style: none;
    font-family: "RocaOne";
    
    }
    
    
    
    .nav .nav-links li{
    display: inline-block;
    padding: 0 20px;    
    }
    
    
    
    .nav .nav-links a {
    font-size: 16;
    color: #eceff1; /* Color inicial del texto */
    text-decoration: none; /* Quitamos subrayado de los enlaces */
    transition: all 0.5s;
    }
    
    .nav .nav-links a:hover {
    color: #000; /* Color del texto al pasar el mouse (negro en este caso) */
    
    }
    
    
    
    /**/.menu {
    display:none;
    }
    
    .nav .btn button,
    /**/.nav .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    
    
    
    /**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
    }
    
    
    
    /*Nav Mobile*/
    
    .nav a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
    }
    
    .nav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #fad4afe1;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    font-family: "RocaOne";
    }
    
    .nav .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    }
    
    .nav .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #000000;
    }
    
    .nav .overlay a:hover, 
    .nav .overlay a:focus{
    color: #a97c0a;
    }
    
    .nav .overlay .close{
    top: 20px;
    right: 45px;
    font-size: 65px;
    }
    
    @media screen and (max-height:450px) {
    .nav .overlay a{
        font-size: 20px;
    }
    .nav .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    }
  
  


.contenedorPrincipal{
    display: block;
    width: 100%;
    height: auto;
}


.parteSuperior{
    display: flex;
    width: 100%;
    height: auto;
}


.parteSuperiorA{
    display: flex;
    width: 50%;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;

}

.video video {
    width: 60%; /* ajusta este valor según el tamaño deseado */
    height: auto; /* asegura que el tamaño de altura se ajuste automáticamente */
    border: 2px solid #ccc; /* Añade un borde sólido de 2px con color gris claro */
    border-radius:20px; /* Agrega bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}




.parteSuperiorB{
width: 60%;
height: auto;
display: block;
padding: 10px;
margin: 10px;
}


.superiorA{
    width: 100%;
    height: auto;
    display: flex;
}

.superiorA img{
    width: 50%;
    height: auto;
}

.superiorB {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* Para alinear verticalmente */
    padding: 10px;
}

.superiorB img {
    width: 40%;
    height: auto;
}


@media screen and (min-width: 300px) and (max-width: 800px) {
   body{
    background-image: none;
    background-color:#121105 ;
   }
   
    .parteSuperior{
        display: block;
        width: 100%;
        height: auto;
    }

    .parteSuperiorA{
        display: flex;
        width: 100%;
        height: auto;
    }

    .video video {
        width: 70%; /* ajusta este valor según el tamaño deseado */
        height: auto; /* asegura que el tamaño de altura se ajuste automáticamente */
        border: 2px solid #ccc; /* Añade un borde sólido de 2px con color gris claro */
        border-radius:20px; /* Agrega bordes redondeados */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    }

    .parteSuperiorB{
        width: 100%;
        height: auto;
        display: flex;
        padding: 10px;
        margin: 10px;
        }
        
        .superiorA img{
            width:100%;
            height: auto;
        }

        .superiorB img{
            width:100%;
            height: auto;
        }
    }



    .parteCentral {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        width: 100%;
        height: auto;
        margin-top: 15%;
    }
    

.centroA{
    display: flex;
    width: 35%;
    height: auto;
}


.centroA img{
    width: 80%;
    height: auto;
}

.centroB{
    width: 30%;
    height: auto;
    display: block;
}


.usuarioIG{
    display: flex;
    width: 100%;
    height: auto;
    justify-items: center;
align-items: center;
}

.usuarioIG img{
    width: 20%;
    height: auto;
}

.usuarioIG h3{
    font-size: 30px;
    color: #F9D3AE;
    font-family: "Arapey";

}


.imagenCentroB {
    display: flex;
    width: 100%;
    height: auto;
    align-items: flex-end; /* Alinea el contenido al final del contenedor */
}

.imagenCentroB img {
    width: 70%;
    height: auto;
}



.centroC{
    display: flex;
    width: 35%;
    height: auto;
}


.centroC img{
    width: 70%;
    max-height: 300px;
}


@media screen and (min-width: 300px) and (max-width: 800px) {
    .parteCentral{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 10%;
    }

    .centroA{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    
    .centroB {
        width: 100%;
        height: auto; /* Ajusta la altura según sea necesario */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
    }

    .imagenCentroB {
        display: flex;
        justify-content: center; /* Alinea horizontalmente */
        align-items: flex-end; /* Alinea verticalmente */
    }
    
    .imagenCentroB img {
        width: 70%;
        height: auto;
        align-self: flex-end; /* Alinea la imagen al final verticalmente */
    }
    
    

    .centroC {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }
    
    .centroC img {
        width: 70%;
        max-height: 300px;
    }
    
     }





     
    .parteInferior {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        width: 100%;
        height: 400PX;
        margin-top: 30%;
    }



    .parteInferiorA{
        width: 35%;
        height: auto;
        display: flex;
    }


    .parteInferiorA img{
        width: 60%;
        height: auto;
        margin-top: 15%;

    }



    .parteInferiorB{
        width: 30%;
        height: auto;
        display: flex;
    }


    .parteInferiorB img{
        width: 90%;
        height: auto;
        margin-bottom: 80%;
    }




    .parteInferiorC{
        width: 30%;
        height: auto;
        display: flex;
    }


    .parteInferiorC img{
        width: 80%;
        height: auto;
        margin-top: 20%;
    }



    @media screen and (min-width: 300px) and (max-width: 800px) {
        .parteInferior {
            display: block;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            width: 100%;
            height: auto;
            margin-top: 5%;
        }
        .parteInferiorA {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
        }
        
        .parteInferiorA img {
            width: 90%;
            height: auto;
        }
        
    
    

        .parteInferiorB{
            width: 100%;
            height: 50px;
            display: flex;
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            margin-top: 80%;
        }
        .parteInferiorB img{
            width: 90%;
            height: auto;
            margin-bottom: 80%;
        }
    


        .parteInferiorC{
            width: 100%;
            height: auto;
            display: flex;
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
        }
        .parteInferiorC img{
            width: 80%;
            height: auto;
        }
    

         }
    





     @font-face {
        font-family: 'RocaOne';
        src: url('../fonts/Roca\ Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
      }
      
    
      @font-face {
        font-family: "Arapey";
        src: url("../fonts/Arapey-Italic.ttf") format("truetype"); /* Ajusta la ruta y el formato según los archivos que hayas descargado */
        font-weight: normal;
        font-style: normal;
      }