.home {
  position: relative;
  display: flex;
  width: 100%;
  height: 650px;
  overflow: hidden; /* Asegura que el contenido no se desborde fuera del contenedor */

  /* Resto de tus estilos para el fondo */
  background-color: #FAD4AF;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/homeBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 8s ease-in-out; /* La animación se aplica solo al pseudo-elemento */
  z-index: 0;
}

.mainHome{
  display: block;
  z-index: 1;
  margin-left: 150px;
}



@keyframes moveBackground {
    0% {
        transform: translateX(-80px); /* Comienza desplazada a la izquierda */
    }
    25% {
        transform: translateX(60px); /* Se desplaza a la derecha */
    }
    75% {
        transform: translateX(-10px); /* Vuelve a desplazarse a la izquierda */
    }
    100% {
        transform: translateX(0); /* Se acomoda en el centro */
    }
}

body {
    margin: 0;
    overflow: hidden; /* Evita la barra de desplazamiento */
}

div{
    margin: 0;
}

@font-face {
    font-family: 'RocaOne';
    src: url('../fonts/Roca\ Bold.ttf') format('truetype'); /* Ajusta la ruta y el formato según los archivos que hayas descargado */
    font-weight: normal;
    font-style: normal;
  }

  .titleSoham {
    position: relative;
    color: #FAD4AF;
    margin-top: 150px;
    font-family: 'RocaOne', sans-serif;
    letter-spacing: 1px;
    font-size: 110px; /* Asegúrate de incluir la unidad (px) para el tamaño de la fuente */

    /* Establecer el punto de partida fuera de la pantalla */
    transform: translateX(-100%);
    opacity: 0;

    /* Animación para la aparición */
    animation: aparecerTitulo 1s forwards;
}

@keyframes aparecerTitulo {
    0% {
        transform: translateX(-100%);
        opacity: 0.2; /* Ajusta el nivel de transparencia inicial aquí (0 es completamente transparente, 1 es opaco) */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@font-face {
  font-family: 'Arapey';
  src: url('../fonts/Arapey-Italic.ttf') format('truetype'); /* Ajusta la ruta y el formato según los archivos que hayas descargado */
  font-weight: normal;
  font-style: normal;
}

.escuelaDeYoga {
  color: rgb(3, 3, 3);
  background-color: #EBBB8D;
  width: auto; /* Cambio a ancho automático para ajustar el texto */
  max-width: 300px; /* Limita el ancho máximo */
  height: 35px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  font-family: 'Arapey', serif;
  font-size: 35px;
  line-height: 35px; /* Alineación vertical del texto */
  margin-top: -80px;
  margin-left: 30px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}



  

 
  .descripcionHome {
    width: 350px;
    height: 120px; /* Ajustar la altura para tres renglones */
    opacity: 0;
    transform: translateY(100%);
    animation: aparecer 2s ease-in-out forwards;
    margin-top: 60px;
    background-color: #00000071; /* Cambio de color de fondo */
    border-radius: 15px;
    font-size: 25px; /* Reducir el tamaño del texto */
    line-height: 1.5; /* Ajusta la altura de línea según sea necesario */
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(2, 2, 2, 0.1); /* Agrega una sombra suave */
    color: #FAD4AF;
    font-family: 'Arapey', serif;   

   
    display: flex; /* Establecer el contenedor como flex */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    overflow: hidden; /* Ocultar cualquier exceso de texto */
}



  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
