/* general */ 

body{
    background-color: #FAD4AF;
    margin: 0;
    padding: 0;
}

.navBar{
    position: fixed;
    width: 100%;
    height: 35px;
}

/* bloque home */ 

.homePage {
    width: 100%;
    height: 670px;
    overflow: hidden; 

    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }

      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}

/* bloque soham */ 

.bloqueSoham {
    width: 100%;
    height: 660px;
    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }

      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}

.divSoham {
    height: 660px;
    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }

      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}

/* bloque clases */ 
  
.divClases {
    height: 660px;
    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }

      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}

.bloqueClases {
    width: 100%;
    height: 660px;
    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }

      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}

/* bloque4 */ 

.clasesPresenciales{
    width: 100%;
    height: 660px;
}

.divClasesPresenciales {
    width: 100%;
    height: 660px;
}


.divFooter{
    width: 100%;
    height: 660px;
}




.footerIframe{
    width: 100%;
    height: 660px;
}
