 *{
    margin: 0;
    padding: 0;
    background-color: #280B02;
 }

 body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
 }

 .navBar{
    width: 100%;
    height: 35px;
 }

 .contenedor{
    width: 100%;
    height: auto;
    background-color: red;
 }



 .Titulo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }



 .Titulo h2{
    font-family: 'Arapey';
    color: #FAD4AF;
    font-size: 60px;
    margin: 10px;
    padding: 10px;
}




.contenedorGeneral{
    display: flex;
    width: 100%;
    height: auto;
    
}


.Andrea {
    display: block;
    width: 50%;
    height: auto;
    transition: transform 0.3s ease; /* Transición suave durante 0.3 segundos */
}

/* Efecto hover */
.Andrea:hover {
    transform: scale(1.02); /* Escala ligeramente el elemento al 105% de su tamaño original */
}


.Andrea a{
    text-decoration: none;
}
 
.imagenAndrea{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.Andrea h2{
    font-family: 'Arapey';
    color: #FAD4AF;
    text-align: center;

}




.Bautista {
    display: block;
    width: 50%;
    height: auto;
    transition: transform 0.3s ease; /* Transición suave durante 0.3 segundos */
}

/* Efecto hover */
.Bautista:hover {
    transform: scale(1.02); /* Escala ligeramente el elemento al 105% de su tamaño original */
}


.Bautista a{
    text-decoration: none;
}


.imagenBautista{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}


.Bautista h2{
    font-family: 'Arapey';
    color: #FAD4AF;
    text-align: center;

}


 @font-face {
    font-family: 'Arapey';
    src: url('../fonts/Arapey-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RocaOne';
    src: url('../fonts/Roca\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .Titulo h2{
       
        font-size: 30px;
       
    }

    .contenedorGeneral{
        display: block;
        width: 100%;
        height: auto;
        
    }

    .Andrea {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease; /* Transición suave durante 0.3 segundos */
    }

    .imagenAndrea{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
    .Andrea h2{
        font-family: 'Arapey';
        color: #FAD4AF;
        text-align: center;
    
    }


    .Bautista {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease; /* Transición suave durante 0.3 segundos */
        margin-top: 20%;
    }

}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .contenedorGeneral{
        display: block;
        width: 100%;
        height: auto;
        
    }

    .Andrea {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease; /* Transición suave durante 0.3 segundos */
    }
    


    .Bautista {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease; /* Transición suave durante 0.3 segundos */
        margin-top: 10%;
    }
}

