body {
    margin: 0;
    overflow: hidden; /* Evita la barra de desplazamiento */
}
 
div{
    margin: 0;
}

.bodyMain {
    display: flex;
    background-image: url('../images/fondoBloque2.png');
    background-size: cover;
    background-color: rgb(250, 227, 196);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: +70%;
    height: 100%;

    @media (max-width: 1000px) {
        height: 570px; /* Nuevo valor de altura para pantallas más pequeñas */
      }

      @media (max-width: 770px) {
        height: 370px; 
      }
    
      @media (max-width: 600px) {
        height: 320px; 
      }
}

.sohamMain {
    display: block;
}

.sohamItems {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: space-around; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    height: 60%;
    width: 100%;
    font-family: 'RocaOne';
    font-size: 200%;
    color: #2F1714;

    @media (max-width: 1000px) {
        font-size: 170%;
      }

      @media (max-width: 770px) {
        font-size: 150%;
      }
    
      @media (max-width: 600px) {
        font-size: 120%;
      }
}


.sohamName {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    font-size: 500%;
    color: #772E1D;
    font-family: 'RocaOne';
    letter-spacing: 3px;
    line-height: 20%;
    transform: scaleY(1.2);
    animation: aparecerTitulo 2s forwards;

    @media (max-width: 1000px) {
        font-size: 400%;
      }
  
      @media (max-width: 770px) {
        font-size: 300%;
      }
  
      @media (max-width: 600px) {
        font-size: 200%;
      }
}

@keyframes aparecerTitulo {
    0% {
        transform: translateX(-100%);
        opacity: 0.2; /* Ajusta el nivel de transparencia inicial aquí (0 es completamente transparente, 1 es opaco) */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



@font-face {
    font-family: 'RocaOne';
    src: url('../fonts/Roca\ Italic.ttf') format('truetype'); /* Ajusta la ruta y el formato según los archivos que hayas descargado */
    font-weight: normal;
    font-style: normal;
  }



.itemSohamDiv {
    display: block; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; 
}

.itemImagen {
    width: 110%;
    height: auto;
    animation: aparecerImagen 2s forwards;
}

.itemImagen:hover {
    transform: scale(1.1) !important; /* Escalamos la imagen al 110% del tamaño original */
}

.itemSubtitulo {
    animation: aparecerSubitulo 2s forwards;
}

.itemSubtitulo:hover {
    color: #772E1D;
}

@keyframes aparecerSubitulo {
    0% {
        transform: translateY(-100%);
        opacity: 0.2; /* Ajusta el nivel de transparencia inicial aquí (0 es completamente transparente, 1 es opaco) */
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes aparecerImagen {
    0% {
        transform: translateY(100%);
        opacity: 0.2; /* Ajusta el nivel de transparencia inicial aquí (0 es completamente transparente, 1 es opaco) */
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




